
Header{
    margin-top: 10vh;
    padding-left: 20vw;
    h2 {padding-left: 3vw ;}
    .picture{
        align-items: right;
        background-image: url(/pictures/swiss.jpg.jpg.webp);
    }
}

main{
 padding-left: 10vw;
 padding-right: 10vw;
padding-top: 20vh;
}
