
header{
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
    
    justify-content: space-evenly;
    
    
    .hcol1{
        display: flex;
        flex-direction: column;
    }

    h2 {
        padding-left: 3vw ;
    }

    .proffesinal_pic{
        display: flex;
     justify-content: right;
     
    }
}

main{
 padding-left: 15vw;
 padding-right: 15vw;
 padding-top: 20vh;
}

.qualifications{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2vw;
    
}
.quals1{
    border-radius: 20px;
    background-color: #1A936F;
    box-shadow: 3px;
    padding-left: 1vw;
    padding-right: 1vw;
}

.quals2{
    border-radius: 20px;
    background-color: #88D498;
    box-shadow: 3px;
    padding-left: 1vw;
    padding-right: 1vw;
}

.quals3{
    border-radius: 20px;
    background-color: #6f9e78;
    box-shadow: 3px;
    padding-left: 1vw;
    padding-right: 1vw; 
}

.about_me{
    padding-right: 10vw;
    display: flex;
    flex-direction: row;
    padding-top: 20vh;
    width: 50vw;
    justify-content: space-between;
    opacity: 0; 
    transition: opacity 1s ease;
}

.about_me.visible {
    display: block; 
    opacity: 1; 
    transition: opacity 1s ease; 
    padding-right: 10vw;
    display: flex;
    flex-direction: row;
    padding-top: 20vh;
    width: 50vw;
    padding-bottom: 20vh;
}

.about_me_info{
    margin-right: 10vw;
}

.about_me_info_col{
    padding: 2vh;
}

.about_me_info_col_cont{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}